[settings]
experimental = true # This must be enabled to make the hooks work
idiomatic_version_file_enable_tools = [ "node" ]

[env]
COREPACK_ENABLE_DOWNLOAD_PROMPT = "0"

_.path = [ "{{config_root}}/node_modules/.bin" ]

[hooks]
postinstall = """
npx corepack enable
pnpm config set store-dir ~/.local/share/pnpm/store
"""

[tasks.install]
description = "Installs dependencies with pnpm"
run = "pnpm install"
sources = [
  "package.json",
  "pnpm-lock.yaml",
  "mise.toml"
]
outputs = [ "node_modules/.pnpm/lock.yaml" ]
